<!---<div class="row">
    <div class="col-12 col-sm-6 col-md-3" >
      <div class="info-box">
        <a routerLink="/comptes/list/add">
          <button mat-mini-fab color="primary" class="btn float-left" style="width: 60px; height: 60px;" class="btn btn-success"><i class="fa fa-plus"></i></button>
        </a>
        <div class="info-box-content">
          <span class="info-box-text">NOUVEAU COMPTE</span>
          <span class="info-box-number">
            Formulaire
          </span>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
      <div class="info-box mb-3">
        <a routerLink="/comptes/list">
          <button mat-mini-fab color="primary" class="btn float-left" style="width: 60px; height: 60px;" class="btn btn-success"><i class="fa fa-users"></i></button>
        </a>
  
        <div class="info-box-content">
          <span class="info-box-text">LISTE DES COMPTE</span>
          <span class="info-box-number">Liste - Detail</span>
        </div>
      </div>
    </div>
    <div class="clearfix hidden-md-up"></div>
    <div class="col-12 col-sm-6 col-md-3">
      <div class="info-box mb-3">
        <span class="info-box-icon bg-success elevation-1"><i class="fas fa-shopping-cart"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">Sales</span>
          <span class="info-box-number">760</span>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
      <div class="info-box mb-3">
        <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">New Members</span>
          <span class="info-box-number">2,000</span>
        </div>
      </div>
    </div>
  </div>
-->
  
  <!--<div class="row">
    <div class="col-lg-3 col-6">
        <div class="icon" style="margin-left: 50px; margin-bottom: 10px;" *ngIf="router.url === '/users/list'">
          <a routerLink="/users/add">
            <button mat-mini-fab color="primary" class="btn float-left" style="width: 50px; height: 50px;" class="btn btn-primary"><i class="fa fa-plus"></i></button>
          </a>
        </div>
          <div class="icon" style="margin-left: 50px; margin-bottom: 10px;" *ngIf="router.url === '/users/add'">
          <a routerLink="/users/list">
            <button mat-mini-fab color="yellow" class="btn float-left" style="width: 50px; height: 50px;" class="btn btn-warning"><i class="fa fa-plus"></i></button>
          </a>
      </div>
    </div>
  </div>-->
  <div class="row">
      <div class="col-lg-3 col-6">
        <a routerLink="/partenaires/list/add">
            <button type="button" class="btn btn-block btn-outline-primary">Nouveau compte</button>
        </a>
      </div>
      <div class="col-lg-5 col-6" *ngIf="router.url === '/partenaires/list/comptes' || router.url === '/partenaires/list/comptes/detail' && isSelectedPartenaire">
        <button type="button" class="btn btn-block btn-outline-primary">Nouveau compte pour le partenaire {{ selectedOnePartenaire.ninea }}</button>
      </div>
  </div>
  <div class="row">
      <!-- Main row -->
      <div class="col-lg-4" *ngIf="router.url === '/partenaires/list' || router.url === '/partenaires/list/comptes' || router.url === '/partenaires/list/comptes/detail'">
       <app-listpartenaire (selectedOnePartenaire)="selectPartenaire($event)"  class="col-lg-4 connectedStortable" ></app-listpartenaire>
      </div>
        
    <div class="col-lg-4" *ngIf="router.url === '/partenaires/list/comptes' || router.url === '/partenaires/list/comptes/detail' && isSelectedPartenaire" >
        <app-listcompte [partenaire]="selectedOnePartenaire" (selectedOneCompte)="selectCompte($event)" class="col-lg-8 connectedStortable"  ></app-listcompte>
    </div>
    <!-- Main row -->
    <!--<div class="col-lg-4" *ngIf="router.url === '/users/list' || router.url === '/users/detail'">
  
      <app-listuser (selectedUser)="selectUser($event)" class="col-lg-4 connectedStortable" [users]="users"></app-listuser>
      *ngIf="router.url === '/users/detail'"
    </div>-->
  
    <div class="col-lg-4" *ngIf="router.url === '/partenaires/list/comptes/detail' && isSelectedCompte">
      <app-detailcompte [compte]="selectedOneCompte" class="col-lg-8 connectedStortable"  ></app-detailcompte>
    </div>
  
  </div>
  <div class="row" *ngIf="router.url === '/partenaires/list/add'">
    <app-addcompte class="col-lg-12 connectedStortable" [roles]="roles"></app-addcompte>
  </div>
  <div class="row" *ngIf="router.isActive('/comptes/list/edit',false)">
    Modification
  </div>
  
  
  
  